/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

test/dummy/db/*.sqlite3*
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/public/packs/
test/dummy/public/packs-test/
test/dummy/node_modules/
test/dummy/config/master.key
test/dummy/storage/*.sqlite3*
.DS_Store

/dist/

TODO
pay.md

**/.kamal/
deploy.yml

test/dummy/log/*
test/coverage/*

.cursor/
.claude/

/Gemfile.lock
/gemfiles/*.gemfile.lock